In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect('db_train.db')

In [4]:
cursor = connection.cursor()

In [5]:
query = 'SELECT * FROM Users'

In [7]:
cursor.execute(query)

In [8]:
result = cursor.fetchall()

In [9]:
for item in result:
    print(item)

(15, 'Alexey', 'alex12_8belov@mail.ru', 27)
(16, 'Anastasiya', 'nasty_belova@mail.ru', 28)
(17, 'Kate', 'kate_belova@mail.ru', 29)
(18, 'Igor', 'igor_kaif@mail.ru', 24)
(19, 'Oleg', 'oleg_igget@mail.ru', 32)
(20, 'Vasya', 'vasya@mail.ru', 41)
(21, 'Masha', 'masha@mail.ru', 21)
(22, 'Petr', 'PeTer@mail.ru', 24)
(23, 'Ivan', 'Ivanches@mail.ru', 25)
(24, 'Olesya', 'Ol@mail.ru', 31)
(25, 'Irina', 'Ir@mail.ru', 61)
(26, 'Vlad', 'Vladik@mail.ru', 24)
(27, 'Gans', 'GNS@mail.ru', 32)
(28, 'Mira', 'miiira@mail.ru', 41)
(29, 'Lira', 'liiiira@mail.ru', 21)
(30, 'Natali', 'Nat@mail.ru', 24)
(31, 'Egor', 'egotchik_igget@mail.ru', 32)
(32, 'John', 'jonnny@mail.ru', 81)
(33, 'Sam', 'sam@mail.ru', 33)

In [10]:
import pandas as pd

In [15]:
df = pd.read_sql_query(query,connection)

In [17]:
df

    id    username                   email  age
0   15      Alexey   alex12_8belov@mail.ru   27
1   16  Anastasiya    nasty_belova@mail.ru   28
2   17        Kate     kate_belova@mail.ru   29
3   18        Igor       igor_kaif@mail.ru   24
4   19        Oleg      oleg_igget@mail.ru   32
5   20       Vasya           vasya@mail.ru   41
6   21       Masha           masha@mail.ru   21
7   22        Petr           PeTer@mail.ru   24
8   23        Ivan        Ivanches@mail.ru   25
9   24      Olesya              Ol@mail.ru   31
10  25       Irina              Ir@mail.ru   61
11  26        Vlad          Vladik@mail.ru   24
12  27        Gans             GNS@mail.ru   32
13  28        Mira          miiira@mail.ru   41
14  29        Lira         liiiira@mail.ru   21
15  30      Natali             Nat@mail.ru   24
16  31        Egor  egotchik_igget@mail.ru   32
17  32        John          jonnny@mail.ru   81
18  33         Sam             sam@mail.ru   33

In [18]:
df.describe()

              id        age
count  19.000000  19.000000
mean   24.000000  33.210526
std     5.627314  14.860757
min    15.000000  21.000000
25%    19.500000  24.000000
50%    24.000000  29.000000
75%    28.500000  32.500000
max    33.000000  81.000000

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        19 non-null     int64
 1   username  19 non-null     object
 2   email     19 non-null     object
 3   age       19 non-null     int64
dtypes: int64(2), object(2)
memory usage: 740.0+ bytes

In [22]:
df.shape

(19, 4)

In [23]:
df.age.mean()

33.21052631578947